.Header {
  position: fixed;
  width: 100%;
  padding: 1.2em 0;
  z-index: 100;
}
.HeaderScrolled {
  padding: 0.4em 0;
  background: #dfa800;
  /*backdrop-filter: blur(20px);*/
}
.HeaderGroup {
  max-width: 64em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-items: center;
}

.Header img {
  margin: 0 24em 0 2em;
  height: 4.8em;
}

.HeaderScrolled img {
  margin: 0 24em 0 2em;
  height: 3.2em;
}

.Header a {
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  color: #fefefe;
  cursor: pointer;
}
.Header a:hover {
  color: #4a2c40;
  text-shadow: 0 0.2em 1.6em #1a1a1a75;
}

.Header button {
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 2em;
  color: #dfa800;
  background-color: #fefefe;
  cursor: pointer;
}

.Header button:hover {
  color: #fefefe;
  background-color: #4a2c40;
  box-shadow: 0 0.2em 1.6em #1a1a1a25;
  transform: translateY(-0.1em);
}
