@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");

body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
  color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2.8em;
  font-weight: 800;
  line-height: 1.2;
}
h2 {
  font-size: 2em;
  font-weight: 800;
  line-height: 1.2;
}
p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}
a {
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  color: #dfa800;
  cursor: pointer;
}
a:hover {
  color: #4a2c40;
  text-shadow: 0 0.2em 1.6em #1a1a1a75;
}
button {
  padding: 0.6em 1.4em;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 2em;
  color: #fefefe;
  background-color: #dfa800;
  cursor: pointer;
}
button:hover {
  background-color: #4a2c40;
  box-shadow: 0 0.2em 1.6em #1a1a1a25;
  transform: translateY(-0.1em);
}
.HeaderCorporates {
  position: absolute;
  width: 100%;
  height: 7em;
  z-index: 1;
  background-color: #dfa800;
}
@media (max-width: 32em) {
  .HeaderCorporates {
    position: fixed;
    height: 5em;
    z-index: 1;
    background-color: #dfa800;
  }
}

.Banner {
  background: url("../images/ux-kitchen-background.png");
  height: 40em;
  background-size: cover;
  background-position: center;
}
.BannerGroup {
  margin: 0 auto;
  padding: 14em 2em;
  max-width: 32em;
  text-align: center;
}
.Banner h1 {
  margin: 0 -1em;
  color: #fefefe;
}
.Banner p {
  margin: 1em -0.4em 2.8em -0.4em;
  color: #fefefe;
}
.Banner button {
  background-color: #4a2c40;
}
.Banner button:hover {
  color: #dfa800;
  background-color: #fefefe;
  box-shadow: 0 0.2em 1.6em #1a1a1a10;
}
@media (max-width: 32em) {
  .Banner {
    height: 34em;
  }
  .BannerGroup {
    padding: 7.2em 3.6em;
  }
  .Banner p {
    margin: 0.8em -0.4em 2em -0.4em;
  }
}

.BannerCorporates {
  height: 40em;
}
.BannerCorporatesGroup {
  margin: 0 auto;
  padding: 14em 2em;
  max-width: 40em;
  text-align: center;
}

.BannerCorporates button {
  margin: 1em auto;
}

@media (max-width: 32em) {
  .BannerCorporates {
    height: 30em;
  }
  .BannerCorporatesGroup {
    padding: 10em 2em;
  }
  .BannerCorporates p {
    margin: 0.8em -0.4em 2em -0.4em;
  }
  .BannerCorporates h2 {
    font-size: 1.5em;
  }
}

.Logos {
  margin: 6em auto;
  padding: 0 6em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.LogoGroup {
  display: grid;
  justify-items: center;
}
.Logos img {
  width: 2.4em;
}
.Logos p {
  margin: 0.6em 0;
  color: #1a1a1a;
  text-align: center;
}

@media (max-width: 32em) {
  .Logos {
    margin: 3em auto;
    grid-template-columns: repeat(1, 1fr);
  }
  .LogoGroup {
    margin: 1em auto;
  }
}

.Cards {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.BurgundyCard {
  background-color: #4a2c40;
}
.MustardCard {
  background-color: #dfa800;
}
@media (max-width: 32em) {
  .Cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.ProductLanguage {
  margin: 4em auto 8em auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}
.ProductLanguage h2 {
  padding: 0 0 0.5em 0;
}
.ProductLanguageText {
  margin: 1em 6em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em 4em;
  justify-items: center;
  font-style: italic;
}
@media (max-width: 32em) {
  .ProductLanguage {
    margin: 3em auto;
  }
  .ProductLanguage h2 {
    padding: 0 0.5em 0 1em;
  }
  .ProductLanguageText {
    margin: 0 2em;
    grid-template-columns: repeat(1, 1fr);
  }
}

.AreYouInNeed {
  margin: 4em auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  background-color: #4a2c40;
}
.AreYouInNeed h2 {
  padding: 1.5em 0 0.5em 0;
  color: #fefefe;
}
.AreYouInNeedText {
  margin: 1em 4em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6em;
  justify-items: center;
  color: #fefefe;
}
.AreYouInNeed button {
  margin: 2.5em 0 6em 0;
}
.AreYouInNeed button:hover {
  color: #4a2c40;
  background-color: #fefefe;
  box-shadow: 0 0.2em 1.6em #1a1a1a70;
}
@media (max-width: 32em) {
  .AreYouInNeed h2 {
    padding: 1em 1em 0 1.25em;
  }
  .AreYouInNeedText {
    margin: 0 2em 0 2.5em;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }
  .AreYouInNeed button {
    margin: 2em 2em 4em 2em;
  }
}

.Partners {
  margin: 6em auto 8em auto;
  padding: 0 6em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.PartnerGroup {
  display: grid;
  justify-items: center;
}
.Partners img {
  width: 5em;
}
.Partners h3 {
  margin: 2em 0;
}
.Partners p {
  margin: 0 0;
  color: #1a1a1a;
  text-align: center;
}

@media (max-width: 32em) {
  .Partners h3 {
    margin: 0 0 1em 0;
  }
  .Partners {
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
  }
}
